.header{
    display:flex;
}
.header img {
    height: 100px;
    padding: 20px;
}
.header h1 {
    margin-top: 20px;
    color: rgb(230, 26, 26);
    font-size: 70px;
    font-weight: 700;
}
.header nav {
    height: 50px;
    width: 1500px;
    text-align: center;
    line-height: 50px;
    font-size: 25px;
    background-color: black;
    margin-top: 45px;
    margin-left: 5px;
}
nav a{
    text-decoration: none;
    color: white;
    margin-right: 20px;
    padding: 15px;
    font-weight: 500;
}
nav a:hover{
    background-color: gray;
}